<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="northwind" class="img-responsive text-center" src="modules/core/img/brand/northwind.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Welcome to the Charactersheet App.
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://www.bradoncode.com/tutorials/learn-mean-stack-tutorial/" target="_blank">See the full tutorial</a>
			</p>
		</div>
	</div>
	<div>
		<h2>Congrats! You've configured and run the sample application.</h2>
		<p>This app makes use of the <a href="http://meanjs.org">MEAN.JS</a> stack for creating a web application boilerplate.</p>
		<p>This sample application has registration and login, category management and product search.</p>
		<ul>
			<li>
				Click
				<em>Signup</em>
				to get started.
			</li>
			<li>
				Configure your app to work with your social accounts, by editing the
				<em>/config/env/*.js</em>
				files.
			</li>
			<li>Now you can edit Categories and Products.</li>
		</ul>
	</div>

</section>